<html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>
    <body>
        <h1> this is singh speaking</h1>
        <!-- this is for loop -->
        <% for(let i = 1; i< 16 ; i++){ %>
            <li>
                <%=i%>
            </li>
        
        <%}%>
<!-- this is conditional statement -->
        <%if(true){%>
            <h1>This is Amit Kumar</h1>
            <%}%>
    </body>
</html>